<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid" style="height: 125px">
    <%= link_to root_path, class: "navbar-brand" do %>
        <%# <%= image_tag "feetup.png" %>
        <div class="m-8" ><h1 class="text-center-logo">First Step</h1></div>
    <% end %>
    <div class="button-box">
      <% if current_user.present?%>
          <%= link_to "My Bookings", my_bookings_path, class: "btn btn-pink text-light text-uppercase rounded-pill fw-bold py-3 px-5"%>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-pink text-light text-uppercase rounded-pill fw-bold py-3 px-5"%>
      <% end %>
      <% if current_user.present? == false %>
          <%=link_to "Log in", user_session_path, class: "btn btn-pink text-light text-uppercase rounded-pill fw-bold py-3 px-5" %>
      <% end %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <%# if user_signed_in? %>
            <li class="nav-item active">


          <%# else %>
            <!--li class="nav-item"-->
              <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
            <!--/li-->
          <%# end %>
        </ul>
      </div>
    </div>
  </div>
</div>
