<div class="container">
 <div class="normal">
  <% @my_bookings.each do |booking|%>
    <%if current_user.is_guide == true %>
      <h1>All your bookings:</h1>
      <h1><%="#{booking.user_seeker.first_name}  #{booking.user_seeker.last_name}" %> </h1><h1><%=  booking.topic  %></h1>
      <%=link_to "Go to your booking?", booking_path(booking)  %></h1>
    <% else %>
      <h1>Hello <%= booking.user_seeker.first_name %></h1>
      <h1>Your guide's name is: <%="#{booking.user_guide.first_name}  #{booking.user_guide.last_name}"%></h1>
      <%=link_to "Go to your booking?", booking_path(booking)  %></h1>
    <% end %>
  <% end %>
 </div>
   <div class="d-flex">
      <iframe title="NHS.UK Find services widget" src="https://developer.api.nhs.uk/widgets/services/all/?uid=6c762b70-e701-11ec-b2b7-8d94d9cdcb16"
      width="100%" height="400px" style="border: solid 1px #ccc; max-width: 500px;"></iframe>
      <iframe title="NHS.UK Health A to Z widget" src="https://developer.api.nhs.uk/widgets/conditions?uid=6c762b70-e701-11ec-b2b7-8d94d9cdcb16"
      width="100%" height="340px" style="border: solid 1px #ccc; max-width: 540px;"></iframe>
      <iframe title="NHS.UK Live Well widget" src="https://developer.api.nhs.uk/widgets/live-well?uid=6c762b70-e701-11ec-b2b7-8d94d9cdcb16"
      width="100%" height="400px" style="border: solid 1px #ccc; max-width: 600px;"></iframe>
   </div>
</div>
