<div class="container mt-3">
<h1>Thanks for your bookings</h1>
<h2><%= "Hi #{current_user.first_name}" %></h2>
<h2><%= "Your guide is #{@booking.user_guide.first_name}" %></h2>

<%  if @booking.chatrooms.first.nil? %>

    <%= simple_form_for [@booking, @chatroom] do |f| %>
      <%= f.button :submit, class: "btn btn-outline-primary" %>
    <% end %>
    <% else %>
    <%= link_to "Chat now!", booking_chatroom_path(@booking, @booking.chatrooms.first), class: "btn btn-outline-primary" %>
    <% end %>




<%= link_to "Delete Booking",
    booking_path(@booking),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, :class => "btn btn-outline-danger"
  %>
</div>
