<div class="container mt-3">
    <% if current_user.is_guide == true %>
    <div class="g-booking-box">
      <div class="card bg-card g-card">
        <div class="card-body">
          <img src="https://st.depositphotos.com/29690442/54793/v/380/depositphotos_547932438-stock-illustration-an-avatar-of-indian-man.jpg?forcejpeg=true" alt="" class="card-image mb-3">
          <h2><%= "Hi #{current_user.first_name}" %></h2>
        <div class="bs-info">
          <h4 style="font-weight: 600;"><%="#{@booking.user_seeker.first_name} #{@booking.user_seeker.last_name}" %></h4>
          <h4><%=@booking.topic  %></h4>
        </div>
          <%= simple_form_for [@booking] do |f| %>
            <%= f.input :provider%>
            <%= f.input :price %>
            <%= f.input :url %>
            <%= f.input :notes %>
            <%= f.button :submit, value: "Update", class: "btn btn-outline-pink text-light text-uppercase rounded-pill fw-bold py-3 px-5 button-spacing" %>

          <% end %>
          <%if @booking.chatrooms.first.nil? %>
           <h4><%= "Chatroom not yet created by: #{@booking.user_seeker.first_name.capitalize}" %></h4>
          <% else %>
                <%= link_to "Chat now!", booking_chatroom_path(@booking, @booking.chatrooms.first), class: "btn btn-pink text-light text-uppercase rounded-pill g-chat-now fw-bold py-3 px-5 mb-20" %>
          <% end %>
          </div>
      </div>
      <div>
        <img id="b-image" src="https://stevebarby73672784204.files.wordpress.com/2021/02/cropped-imgbin_hand-heart-logo-png.png?w=930" alt="">
      </div>
    </div>
    <% else %>
    <div class="s-booking-box">
      <div class="card bg-card s-card">
        <div class="card-body">
          <img src="https://st.depositphotos.com/29690442/54793/v/380/depositphotos_547932438-stock-illustration-an-avatar-of-indian-man.jpg?forcejpeg=true" alt="" class="card-image mb-3">
              <div class="ab-info">
          <h2 style="font-family: 'Raleway', sans-serif !important;">Hello <%= current_user.first_name %></h2>
          <h3 style="font-family: 'Raleway', sans-serif !important;"><%= "Your guide is #{@booking.user_guide.first_name} #{@booking.user_guide.last_name}" %></h3>
          </div>
          <% if @booking.notes.present? && @booking.provider.present? && @booking.price.present? && @booking.url.present? %>
              <h4 style="font-family: 'Raleway', sans-serif !important;"> <strong> Organisation: </strong><%= @booking.provider %></h4>
              <h4 style="font-family: 'Raleway', sans-serif !important;"> <strong> Price: </strong><%= @booking.price %></h4>
              <h4 style="font-family: 'Raleway', sans-serif !important;"> <strong> Website: </strong> <%= link_to @booking.url, "http://#{@booking.url}", target: "_blank" %></h4>
              <h4 style="font-family: 'Raleway', sans-serif !important;"> <strong> Notes: </strong> <%= @booking.notes %></h4>
          <%end %>
          <h4> <%if @booking.chatrooms.first.nil? %>
              <%= simple_form_for [@booking, @chatroom] do |f| %>
              <%= f.button :submit, value: "Chat now!", class: "btn btn-pink text-light text-uppercase rounded-pill fw-bold py-3 px-5 link-space" %>
              <% end %>
          <% else %>
              <%= link_to "Chat now!", booking_chatroom_path(@booking, @booking.chatrooms.first), class: "btn btn-pink text-light text-uppercase rounded-pill fw-bold py-3 px-5 mb-10 button-spacing" %>
          <% end %>
              <%= link_to "Delete",booking_path(@booking),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-pink text-light rounded-pill button-spacing mb-10" %>

        </div>
      </div>

      <div>
        <img id="b-image" src="https://stevebarby73672784204.files.wordpress.com/2021/02/cropped-imgbin_hand-heart-logo-png.png?w=930" alt="">
      </div>
    </div>

    <% end %>


</div>
