<!DOCTYPE html>
<html>
  <head>
    <title>First Step</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%= favicon_link_tag %>
  </head>

  <body>
    <div class="page-container">
      <div class="navbar-container"><%= render "layouts/shared/navbar" %></div>
      <%= yield %>
      <div class="footer-container" style="width:100%;">
      <%= render 'layouts/shared/footer' %>
      </div>
    </div>
  </body>
</html>
